.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  .content{
    flex: 1;
    background-color: #b49ce5;
  }
  .header{
    background-color: #eac1f4;
    height: 50px;
    display: flex;
    justify-content: space-between;
    a{
      text-decoration:none;
    }
    .boxleft{
      padding-left: 20px;
      padding: 10px;
      color: #9152d0;
      box-sizing: border-box;
      font-size: 20px;
    }
    .boxright{
      display: flex;
      a{
        box-sizing: border-box;
        font-size: 20px;
        color: #7f3886;
        padding: 10px;
      }
      .rightButton:hover{
        border-bottom: solid 1px rgb(143, 60, 237);
      }

    }

  }
  footer{
    height: 100px;
    a{
      text-decoration:none;
    }
    background-color: #eac1f4;
    h3{
      margin: 10px;
    }
  }
 
}


