.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  .content{
    flex: 1;
  }
  .header{
    height: 40px;
    display: flex;
    justify-content: space-between;
    a{
      text-decoration:none;
    }
    .boxleft{
      padding-left: 20px;
      padding: 10px;
      background-color: #faebd7;
      color: #9152d0;
    }
    .boxright{
      display: flex;
      p{
        color: #d05252;
        padding: 10px;
      }
      .rightButton:hover{
        border-bottom: solid 1px rgb(208, 82, 82);
      }

    }

  }
  footer{
    height: 100px;
    a{
      text-decoration:none;
    }
    background-color: antiquewhite;
    h3{
      margin: 10px;
    }
  } 
}


